#gameUI {
    position: absolute;
    color: black;
    margin: auto;
    display: block;
    width: 95vw; height: 95vh;
    top: 0; bottom: 0; left: 0; right: 0;
    visibility: hidden;
    border-style: solid;
    background-color: #363039;
    background-image: url("../resources/screen.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: darken;
    opacity: 0.95;
}

.navBar {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navBarButton{
    font-size: large;
    font-family: "Cascadia Mono", serif;
    color: white;
    background-image: linear-gradient(#4a404c,  #655b67);
    height: 10vh;
    flex: 1;
}

.navBarButtonClicked {
    background-image: linear-gradient(#655b67, #9a8f9c);
}

.navBarButton:hover {
    background-image: linear-gradient(#655b67, #9a8f9c);
}

.settingsSlider {
    margin: 15px;
    cursor: pointer;
}

.page {
    width: 100%;
    color: white;
}

.pageHeader {
    font-size: larger;
    font-family: "Cascadia Code", serif;
    margin: 10px;
}

.pageText {
    font-size: medium;
    font-family: "Cascadia Mono", serif;
    margin: 20px;
}

#glCanvas {
    position: absolute;
    width: 100%;
    height: 100%;
}

#screen {
    position: absolute;
    width: 100%;
    height: 100%;
}

.gameUIText {
    position: relative;
    font-family: Arial, serif;
    font-size: 25px;
    color: black;
    text-align: center;
}

#textureCanvas {
    display: none;
}

.keybinding {
    display: flex;
}

.keys {
    margin-top: 2px;
    overflow: hidden;
}

.key {
    width: 50px;
    height: 50px;

    float: left;

    background-color: wheat;
    color: black;

    align-content: center;
    text-align: center;

    margin-left: 2px;

    border-radius: 10px;
    border: black solid;
    font-family: Arial, sans-serif;
}